<!DOCTYPE html>
<html>
<head>
<title>Login to the Wiki</title>
<link rel="stylesheet" href="/css/gollum.css">
<style type="text/css" media="screen">
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial;
  }
</style>
</head>
<body>
  <div id='wiki-wrapper'>
    <div id='head'>
      <h1>Welcome to the Wiki</h1>
      <ul class="actions">
        <li class="minibutton">
          <a href="/auth/google_apps" class='minibutton'>Login with Google Apps</a>      
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
