gollum:
  # The location of the directory where your wiki's repository exists.
  # NOTE: You're responsible for initializing a repository at this
  # location.
  repo_path: '/usr/local/etc/company-wiki'

google:   
  # If a plain OpenID flow is used, require logins from this domain.
  domain: 'do.com'

session:
  secret: 'SOMETHING_SECURE'
  key: 'endorwiki.session'


